.App {}

.App-header {
  text-align: center;
  background: #222;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.logo img {
  height: 100px;
}

.content {
  margin: 20px;
}

.form-group .input-group-addon,
.input-group .input-group-addon {
  padding: 7px 0 6px 18px;
}

.input-group .form-control:focus < .input-group-addon
 {
  border: 1px solid #f96332;
  border-right: 0;
}

.results {
  min-height: 300px;
}

.card {
  padding: 10px;
  background-color: #fefefe;
}

.card p {
  margin-top: 10px;
}

.rounded-circle {
  border-radius: 50%;
  min-width: 100%;
}

.loading-div {
  min-height: 300px;
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}
